{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
    <main id="team">

        

        {% for tatoueur in tatoueurs %}
            <article id="c-v">
                <div class="card">
                    <img src="{{ asset('uploads/images/' ~ tatoueur.imageName) }}" alt="Image de {{ tatoueur.name }}">
                    <h2>{{ tatoueur.name }}</h2>
                    <h3>
                        style: 
                        {% for type in tatoueur.types %}
                            {{ type.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </h3>

                    <button type="button" class="toggle-bio-btn" data-target="bio-{{ tatoueur.id }}">
                        bio
                    </button>

                    <p id="bio-{{ tatoueur.id }}" class="hidden">
                        {{ tatoueur.bio }}
                    </p>

                </div>
            </article>
        {% endfor %}
    </main>
{% endblock %}
