{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}
<main id="team">
    {% for tatoueur in tatoueurs %}
        <article id="c-v">
            <div class="card" data-bio="{{ tatoueur.bio|striptags|e('html_attr') }}">
                <img src="{{ asset('uploads/images/' ~ tatoueur.imageName) }}" alt="Image de {{ tatoueur.name }}">
                <h2>{{ tatoueur.name }}</h2>
                <h3>
                    Style : 
                    {% for type in tatoueur.types %}
                        {{ type.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </h3>
                <h3>
                    {% if tatoueur.reseaux %}
                        {% set url = tatoueur.reseaux starts with 'http' ? tatoueur.reseaux : 'https://instagram.com/' ~ tatoueur.reseaux %}
                        <a href="{{ url }}" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-instagram fa-2x"></i>
                        </a>
                    {% else %}
                        Aucun réseau social
                    {% endif %}
                </h3>
            </div>
        </article>
    {% endfor %}

</main>

<div id="lightbox" class="lightbox">
  <div class="lightbox-content">
    <span class="close">&times;</span>
    <img id="lightbox-img" src="" alt="" />
    <h2 id="lightbox-name"></h2>
    <p id="lightbox-bio"></p>
  </div>
</div>



{% endblock %}
