{% extends 'base.html.twig' %}

{% block title %}Le Salon{% endblock %}

{% block body %}
    <main id="salon">
        <div class="banner">
            {# <img class="banner1" src="{{ asset('local_images/salon-banner.webp') }}" alt="photos du salon"> #}
            <img class="titre1" src="{{ asset('local_images/accueil-banner.webp') }}" alt="logo du salon blanc">
        </div>

        <div class="salon">
            <div class="left">
                <h2>le salon</h2>
                <p>La Canne Blanche n’est pas un simple salon de tatouage. C’est un lieu de création, d’échange et de voyage intérieur. Ici, le tatouage est vécu comme un art à part entière, une passion viscérale, un geste chargé de sens et de symboles.

À l’image d’un carnet de voyage, les murs du shop parsemés d’objets insolites, d’illustrations  et de trésors chinés, rappellent les cabinets de curiosités d’antan. 

Dans cette ambiance intime et chaleureuse, les clients sont accueillis comme des invités, avec bienveillance et écoute. Chaque tatouage naît d’un échange, d’une envie commune de créer quelque chose d’unique, à fleur de peau.

La Canne Blanche, c’est un atelier vivant, organique, où l’art se mêle à l’humain, où le temps ralentit, et où chaque trace laissée est pensée, sentie, aimée.</p>
            </div>
            <div class="right">
                <img src="{{ asset('local_images/gargouille.webp') }}" alt="photos du salon">
            </div>
        </div>

        <section class="bandeau-fixe"></section>

        <div class="carrousel">
            <div class="carrousel-track">
                <img src="{{ asset('local_images/barber-dts.webp')}}" alt="" />
                <img src="{{ asset('local_images/pro-team.webp')}}" alt="" />
                <img src="{{ asset('local_images/creve.webp')}}" alt="" />
                <img src="{{ asset('local_images/dynamic.webp')}}" alt="" />
                <img src="{{ asset('local_images/eclipse-tatoo.webp')}}" alt="" />
                <img src="{{ asset('local_images/pro-bodie-suplie.webp')}}" alt="" />
                <img src="{{ asset('local_images/tss.webp')}}" alt="" />
                <img src="{{ asset('local_images/otzy.webp')}}" alt="" />
                <img src="{{ asset('local_images/barber-dts.webp')}}" alt="" />
                <img src="{{ asset('local_images/pro-team.webp')}}" alt="" />
                <img src="{{ asset('local_images/creve.webp')}}" alt="" />
                <img src="{{ asset('local_images/dynamic.webp')}}" alt="" />
                <img src="{{ asset('local_images/eclipse-tatoo.webp')}}" alt="" />
                <img src="{{ asset('local_images/pro-bodie-suplie.webp')}}" alt="" />
                <img src="{{ asset('local_images/tss.webp')}}" alt="" />
                <img src="{{ asset('local_images/otzy.webp')}}" alt="" />
            </div>
            <img src="/local_images/cadre-or-v2.png" class="cadre-img" alt="" />
        </div>


    </main>




    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const carousel = document.querySelector('.carousel');
            const images = carousel.querySelectorAll('img');

            // Cloner les images pour créer un effet de boucle fluide
            images.forEach(img => {
                const clone = img.cloneNode(true);
                carousel.appendChild(clone);
            });
        });
    </script>
{% endblock %}


