{{ form_start(tatooForm, {'attr': {'id': 'edit-form'}}) }}
    {{ form_row(tatooForm.tatoo) }}
    {{ form_row(tatooForm.date) }}
    {{ form_row(tatooForm.imageFile) }}

    <button type="submit" class="btn">Enregistrer</button>
{{ form_end(tatooForm) }}
