{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}

    <main id="gallery">
         <div id="form-tatoo">
                <h1>{{ isModification ? 'Modifier un tatouage' : 'Ajouter un tatouage' }}</h1>

                <div class="add_form">
                    {{ form_start(tatooForm) }}
                        
                        {{ form_row(tatooForm.tatoo, {
                            'label': 'Nom du tatouage',
                            'label_attr': {'class': 'form-label'},
                            'attr': {'placeholder': 'Nom du motif ou symbole', 'class': 'form-input'}
                        }) }}

                        {{ form_row(tatooForm.date, {
                            'label': 'Date de réalisation',
                            'label_attr': {'class': 'form-label'},
                            'attr': {'class': 'form-input'}
                        }) }}

                        {{ form_row(tatooForm.imageFile, {
                            'label': 'Image du tatouage',
                            'label_attr': {'class': 'form-label'},
                            'attr': {'class': 'form-input'}
                        }) }}
                        {% if tatoo.imageName %}
                            <img 
                                src="{{ asset('uploads/tatoos/' ~ tatoo.imageName) }}" 
                                alt="Prévisualisation du tatouage" 
                                class="image-preview"
                            >
                        {% endif %}
 

                        <button type="submit" class="btn">
                            {{ isModification ? 'Modifier' : 'Ajouter' }}
                        </button>

                    {{ form_end(tatooForm) }}

                    <a href="{{ path('app_gallery') }}" class="btn return-btn">Retour à la galerie</a>
                    

                </div>
            </div>
    </main>
{% endblock %}