{% extends 'base.html.twig' %}

{% block title %}
    {{ isModification ? 'Modifier un tatouage' : 'Ajouter un tatouage' }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}
{% block body %}
    <main id="form">
        <div class="modif">
            <h1>{{ isModification ? 'Modifier le tatouage' : 'Ajouter un nouveau tatouage' }}</h1>

            {{ form_start(tatooForm) }}
                {% for field in tatooForm %}
                    {{ form_row(field) }}
                {% endfor %}

                {# {{ form_widget(tatooForm) }} #}
                <button class="btn btn-success">
                    {{ isModification ? 'Mettre à jour' : 'Créer' }}
                </button>
            {{ form_end(tatooForm) }}

            <a href="{{ path('app_gallery') }}" class="back">Retour à la galerie</a>
        </div>
    </main>
    
{% endblock %}
