{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <main id="gallery">
         {{ form_start(form) }}
            {{ form_row(form) }}
            <button type="submit">Filtrer</button>
        {{ form_end(form) }}

        {% if is_granted('ROLE_USER') %}
            
        {% endif %}

        {% for tatoo in tatoos %}
            <article id="c-v">
                <div class="card">
                    {% if tatoo.imageName %}
                        <img src="{{ asset('uploads/images/' ~ tatoo.imageName) }}" alt="Tatouage de {{ tatoo.User.name }}">
                    {% else %}
                        <img src="{{ asset('images/placeholder.jpg') }}" alt="Image manquante">
                    {% endif %}

                    <h2>{{ tatoo.tatoo }}</h2>

                    {% if tatoo.User %}
                        <h3>Réalisé par : {{ tatoo.User.name }}</h3>
                    {% else %}
                        <h3>Artiste inconnu</h3>
                    {% endif %}

                    <p>Date : {{ tatoo.date ? tatoo.date|date('d/m/Y') : 'Non renseignée' }}</p>

                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('modify_tatoo', { id: tatoo.id }) }}" class="btn btn-primary">Modifier</a>

                        <form method="post" action="{{ path('delete_tatoo', { id: tatoo.id }) }}" onsubmit="return confirm('Supprimer ce tatouage ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('DEL' ~ tatoo.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>

                    {% endif %}

                    
                </div>
            </article>
        {% else %}
            <p>Aucun tatouage trouvé.</p>
        {% endfor %}
    
    </main>
    <!-- Lightbox container  -->
    <div id="lightbox" class="hidden">
        <span class="close">&times;</span>
        <img id="lightbox-img" src="" alt="Agrandissement du tatouage">
    </div>
   

    




{% endblock %}
